main {
    background: none;

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .container {
        width: 768px;
        margin: auto;

        .overview-img {
            display: none;
        }

        .content {
            padding-left: 50px;

            h3 {
                padding-left: 0;
                letter-spacing: -.5px;
            }

            .title {
                padding-left: 0;

                &.mobile {
                    display: none;
                }
            }

            & > p:last-of-type {
                margin-right: 116px;
            }

            .flex {

                p:first-of-type {
                    margin-right: 34px;
                }
            }
        }
    }
}
