@import 'reset';
@import 'palette';
@import 'media-queries';
@import 'components/header/index.scss';
@import 'components/main/index.scss';
@import 'components/gallery/index.scss';
@import 'components/map/index.scss';
@import 'components/footer/index.scss';
