footer {

    .container {
        width: 768px;
        margin: auto;

        div:first-of-type {
            flex-direction: column;
            margin-left: 48px;

            h3 {
                margin-right: 0;
                margin-bottom: 6px;

                span {
                    padding-top: 5px;
                }
            }

            p {
                padding-left: 2px;
            }
        }

        a {

            button {
                right: 126px;
                bottom: 63px;
            }
        }
    }
}
