.map {
    position: relative;
    width: 100%;
    height: 439.39px;

    .container {
        position: absolute;
        left: 50%;
        width: 1000px;
        height: 100%;
        transform: translateX(-50%);

        .info {
            position: absolute;
            top: 0;
            left: 2px;
            width: 349px;
            height: 440px;

            h3 {
                position: absolute;
                top: 64px;
                left: 121px;
                color: color(3);
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -.1px;
                line-height: 36px;
            }

            .mark {
                position: absolute;
                top: 124px;
                left: 162px;
            }

            .desktop {
                position: absolute;
                top: 173px;
                left: 96px;
                color: color(3);
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 20px;
                text-align: center;
            }

            .tablet {
                display: none;
            }

            p:last-of-type {
                position: absolute;
                top: 252px;
                left: 53px;
                color: color(3);
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                line-height: 18px;
                text-align: center;

                &::before {
                    content: '';
                    display: block;
                    position: relative;
                    top: 0;
                    width: 241px;
                    height: 1px;
                    margin-bottom: 20px;
                    background: rgba(255, 255, 255, .3);
                }
            }

            .bg-mobile {
                display: none;
            }

            .icons {
                display: flex;
                position: absolute;
                bottom: 84px;
                left: 107px;
                border: 1px solid rgba(255, 255, 255, .3);

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 44.1px;
                    height: 42.1px;

                    &.middle {
                        border-right: 1px solid rgba(255, 255, 255, .3);
                        border-left: 1px solid rgba(255, 255, 255, .3);
                    }
                }
            }
        }
    }
}
