header {
    margin-bottom: 39px;

    figure {
        height: 426px;
    }

    .container {
        display: flex;
        justify-content: center;
        width: 320px;

        & > div:first-of-type {
            width: 271px;
            padding-top: 26px;
            padding-right: 0;
            padding-left: 0;

            h5 {
                padding-bottom: 58px;
                font-size: 14.45px;
                letter-spacing: -.4px;
                line-height: 25px;

                &::first-letter {
                    margin-right: 6px;
                    margin-left: 25px;
                    padding: 3px 7px;
                    font-size: 27px;
                }
            }

            h6 {
                margin-left: 33px;
                padding-left: 10px;
            }

            nav {
                top: 14px;
                height: 59.14px;
                transform: translateX(-100%);
            }

            & div::after {
                width: 100%;
            }

            & > div:first-of-type {
                padding-right: 32px;
                padding-left: 32px;
            }

            & > div:last-of-type {
                right: 1px;
                justify-content: center;

                div {

                    &:last-of-type {
                        border-right: 1px solid rgba(255, 255, 255, .3);
                    }
                }
            }

            & > .content {
                margin-bottom: 19px;
                padding-right: 32px;
                padding-left: 32px;
            }

            .message {
                font-size: 14px;
            }

            & > p {
                margin-bottom: 54px;
                margin-left: 32px;
                font-size: 16px;
            }
        }
    }

    .control {

        .slider-control {

            &::before {
                left: 0;
            }

            .arrows {
                display: none;
            }
        }
    }
}
